In [ ]:
 #1. What are data structures, and why are they important?
 '''
Data structures are ways of organizing and storing data so they can be accessed
and modified efficiently.They are important because they help:

-Manage large amounts of data

-Improve performance and memory usage

-Support various programming paradigms (OOP, procedural, etc.)

-Solve real-world problems more effectively
'''

In [ ]:
#2.Explain the difference between mutable and immutable data types with examples.
'''
Mutable: Can be changed after creation.
Examples: list, dict, set
'''
my_list = [1, 2]
my_list.append(3)  # Now [1, 2, 3]

'''
Immutable: Cannot be changed after creation.
Examples: int, float, str, tuple
'''
my_str = "hello"

In [ ]:
#3. What are the main differences between lists and tuples in Python?
'''
| Feature     | List         | Tuple              |
| ----------- | ------------ | ------------------ |
| Mutability  | Mutable      | Immutable          |
| Syntax      | `[1, 2, 3]`  | `(1, 2, 3)`        |
| Performance | Slower       | Faster (read-only) |
| Use case    | Dynamic data | Fixed data         |
'''

In [ ]:
#4. Describe how dictionaries store data.
'''
Dictionaries store data as key-value pairs. Internally, they use hash tables,
 which allow fast lookup based on the key.
 '''
 student = {"name": "Alice", "age": 20}

In [ ]:
#5. Why might you use a set instead of a list in Python?
'''
To automatically remove duplicates.

For fast membership tests.

When the order doesn’t matter.
'''
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # {1, 2, 3}

In [ ]:
#6. What is a string in Python, and how is it different from a list?
'''
A string is a sequence of characters.
Key differences:

Strings are immutable, lists are mutable

Strings store only characters; lists can store mixed data types.
'''
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']

In [ ]:
#7. How do tuples ensure data integrity in Python?
'''
Because tuples are immutable, their content can't be changed. This ensures:

Data integrity (values won't accidentally change)

They can be used as keys in dictionaries.
'''

In [ ]:
#8. What is a hash table, and how does it relate to dictionaries in Python?
'''
A hash table is a data structure that stores key-value pairs using a hash function.
Python’s dictionaries are implemented using hash tables, allowing:

->Fast lookup

->Constant time complexity for most operations.

In [ ]:
#9. Can lists contain different data types in Python?
'''
Yes. Python lists are heterogeneous.It can lists contain diffrent data types.
'''
mixed_list = [1, "hello", 3.14, [1, 2]]

In [ ]:
#10. Explain why strings are immutable in Python.
'''
Strings are immutable to:

->Ensure security (useful in keys and hashing).

->Make them thread-safe.

->Allow reusability (interning).

In [ ]:
#11. What advantages do dictionaries offer over lists for certain tasks?
->Faster lookup using keys (O(1))

->Key-based access instead of index-based

->Better organization of related data (name → age).

In [ ]:
#12. Describe a scenario where using a tuple would be preferable over a list.
'''
When you want to:

->Store fixed, unchangeable data

->Use it as a dictionary key

->Improve performance
'''
location = (28.6139, 77.2090)  # Immutable GPS coordinates

In [ ]:
#13.How do sets handle duplicate values in Python?
'''
Sets automatically remove duplicates.
'''
s = {1, 2, 2, 3}  # Results in {1, 2, 3}

In [ ]:
#14. How does the “in” keyword work differently for lists and dictionaries?
'''
->List: checks values (linear search, O(n)).

->Dict: checks keys (hashing, O(1)).
'''
3 in [1, 2, 3]          # True (checks values)
"name" in {"name": "A"}  # True (checks keys)

In [ ]:
#15. Can you modify the elements of a tuple? Explain why or why not.
'''
No. Tuples are immutable, meaning their elements can't be changed after creation.
'''
t = (1, 2)
# t[0] = 10

In [ ]:
#16. What is a nested dictionary, and give an example of its use case.
'''
A dictionary within a dictionary.
Use case: Storing structured data like student records.
'''
students = {
  "101": {"name": "Amit", "marks": 85},
  "102": {"name": "Neha", "marks": 90}
}

In [ ]:
#17. Describe the time complexity of accessing elements in a dictionary.
'''
Average case: O(1).

Worst case: O(n) (rare, due to hash collisions).
'''

In [ ]:
#18. In what situations are lists preferred over dictionaries?
'''
When you need ordered data.

When elements don't need unique identifiers.

When accessing elements by position/index.
'''

In [ ]:
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
'''
Before Python 3.7, dictionaries didn't guarantee order. From Python 3.7+,
 insertion order is preserved, but dictionaries are still accessed by keys,
  not index.
  '''

In [ ]:
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
'''
List: Retrieved using index
'''
my_list[0]

'''
Dictionary: Retrieved using key
'''
my_dict["name"]

# **PRACTICAL QUESTIONS**

In [2]:
#1. Create a string with your name and print it.
name = "Tanmay"
print(name)

Tanmay

In [3]:
#2.Find the length of the string "Hello World".
s = "Hello World"
print(len(s))

11

In [4]:
#3.Slice the first 3 characters from "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
#4. Convert "hello" to uppercase.
s = "tanmay"
print(s.upper())

TANMAY

In [7]:
#5. Replace "apple" with "orange" in "I like apple".
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [8]:
#6. Create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7. Append 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
#8. Remove 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
#9. Access the second element in ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
#10. Reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
#11. Create a tuple with (100, 200, 300) and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [14]:
#12.Access second-to-last element of ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [15]:
#13. Find minimum in (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [16]:
#14. Find index of "cat" in ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [17]:
#15. Tuple of 3 fruits, check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [18]:
#16. Create set with 'a', 'b', 'c' and print.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [19]:
#17. Clear all elements from {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [20]:
#18. Remove 4 from {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [21]:
#19. Union of {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [22]:
#20. Intersection of {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [23]:
#21. Create dictionary with "name", "age", "city" and print.
person = {"name": "Alice", "age": 30, "city": "Delhi"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Delhi'}

In [24]:
#22. Add "country": "USA" to {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Access value of "name" in {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [26]:
#24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [28]:
#26. Create and print a list, tuple, and dictionary.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst)
print(tup)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [29]:
#27. Create a list of 5 random numbers (1–100), sort and print.
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[1, 21, 47, 55, 73]

In [31]:
#28. List with strings, print element at third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [32]:
#29. Combine two dictionaries and print.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#30. Convert list of strings to a set.
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'apple', 'banana', 'cherry'}